.header {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.header-logo {
    height: 27px;
    min-width: 140px;
    margin-right: 24px;
}

.header-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

.header-location-search-container {
    height: 54px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
    border: 1px solid rgb(232,232,232);
    width: 70%;
}

.location-wrapper {
    display: flex;
    flex: 1;
    padding: 0px 10px;
    justify-content: space-between;
}

.location-icon-name {
    display: flex;
    color: #828282;
}

.location-icon {
    color: red;
    font-size: 17px;
    margin-right: 9px;
}

.location-seperator {
    height: 20px;
    border: 0.5px solid rgb(207, 207, 207);
}

.header-search-bar {
    display: flex;
    flex: 2;
}

.header-search-icon {
    font-size: 20px;
    color: #828282;
    margin: 0px 12px;
}

.header-search-input {
    border: none;
    outline: none;
    width: 60%;
    font-size: 14px;
}

.header-profile-wrapper {
    display: flex;
    justify-content: space-between;
    width: 13%;
    align-items: center;
}

.header-profile-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.header-username {
    font-size: 16px;
    font-weight: 550;
}

.header-profile-options-icon {
    font-size: 14px;
    font-weight: 800;
}