
.header {
    width: 100%;
    background-image: url("../../assets/images/BackGround.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vh;

    nav {
        display: flex;
        align-items: center;
        justify-content:space-evenly;
        padding: 15px 10px;


        span {
            color: white;
            font-style: 16px;
        }
        
    
        .right {                             // this indicates that header ke andar nav and nav ke andar right naam ki class
            display: flex;
            justify-content: center;
            gap: 20px;
    
            span {
                color: white;
                font-style: 18px;
            }
        }
    }
}

.header > .headerContent {
    position: absolute;
    width: 100%;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    img {
        max-width: 400px;
    }

    h3 {
        color: white;
        font-size: 2rem;
        font-weight: lighter;
        letter-spacing: 0.12rem;
    }

    .input {
        min-width: 50%;
        height: 55px;
        border: none;
        background-color: white;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        align-items: center;

        select {
            flex: 1;
            border: none;
            outline: none;
            scroll-behavior: smooth;
            font-size: 16px;
            font-weight: normal;
            color: gray;
            padding: 8px;
        }

        input {
            flex: 2;
            border: none;
            outline: none;
            padding: 8px;

            &::placeholder {
                font-size: 16px;
                font-weight: normal;
            }
        }
    }
}
